<!DOCTYPE html>
<html>
  <head>
    <title>MakeupVanity</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      Kristin's Makeup Vanity
    </header>
    <aside>
      <%= yield :sidebar %>
      <%= link_to "Add Product", new_product_path %>

    </aside>
    <main>
      <%= yield %>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
